@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body{
	font-family: 'Roboto Condensed', sans-serif;
	background-image: url("https://ak.picdn.net/shutterstock/videos/1024413782/thumb/1.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100%;
}

.container{
	background: #ECF4FF;
	margin: 64px;
	border-radius: 20px;
	box-shadow: 6px 6px 6px #0E1D2F;
	padding: 64px;
}

.container-perfil{
	display: flex;
	align-items: center;
}

.perfil-foto{
	border-radius: 460px;
	max-height: 200px
}

.perfil-titulos{
	margin-left: 20px;
}

.perfil-titulos h1{
	font-weight: 700;
	font-size: 36px;
}

.perfil-titulos h3{
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 24px
}

.perfil-logos{
	display: flex;
	align-items: center;
}

.perfil-logos img{
	max-height: 35px;
	margin-right: 15px;
}

.container-projetos{
	background: blue;
	margin-top: 50px;
	border-radius: 20px;
	padding: 20px;
}

.projetos{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projetos ul{
	font-weight: 700;
	color: white;
	font-size: 36px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.projetos a{
	font-weight: 400;
	color: white;
	font-size: 28px;
	text-decoration: none;
}

.projetos li{
	margin-top: 10px;
}
